gs-gifsearch {
  font-family: sans-serif;
  .gs-main {
    align-items: center;
    background-color: #2e2d2d;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;

    * {
      box-sizing: border-box;
    }
  }

  .error {
    background: lightgray;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
    color: #881405;
    font-weight: bold;
    padding: 16px;
    text-align: center;
    width: 100%;
  }
}
