gs-giflist {
  background-color: #f4f4f8;
  box-sizing: border-box;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  display: flex;

  div {
    margin: 16px 0;
    width: 320px;

    picture,
    img {
      width: 320px;
    }
  }

  div:first-of-type {
    margin-top: 0;
  }

  div:last-of-type {
    margin-bottom: 8px;
  }
}
